<header>
  <div class="logo">
    <img src="../assets/images/logo.png" alt="logo">
  </div>
  <div class="links">
    <a href="">Features</a>
    <a href="">Team</a>
    <a href="">Sign in</a>
  </div>
</header>
<section class="cta">
  <img src="../assets/images/illustration-intro.png" alt="intro">
  <h3>All your files in one secure location, accessible anywhere. </h3>
  <p>FileBox stores all your most important files in one secure location.
    Access them wherever you need, share and collaborate with friends family, and co-workers.
  </p>
  <button>Get Started</button>
</section>
<section class="items">
  <div class="article">
    <img src="../assets/images/icon-access-anywhere.svg" alt="icon">
    <h5>Access your files, anywhere</h5>
    <p>
      The ability to use a smartphone, tablet, or computer to access your account means your files follow you
      everywhere.
    </p>
  </div>
  <div class="article">
    <img src="../assets/images/icon-security.svg" alt="icon">
    <h5>Security you can trust</h5>
    <p>
      2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help
      secure your files.
    </p>
  </div>
  <div class="article pt">
    <img src="../assets/images/icon-collaboration.svg" alt="icon">
    <h5>Real-time collaboration</h5>
    <p>
      Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments
      required.
    </p>
  </div>
  <div class="article pt">
    <img src="../assets/images/icon-any-file.svg" alt="icon">
    <h5>Store any type of file</h5>
    <p>
      Whether you're sharing holidays photos or work documents, FileBox has you covered allowing for all file types to
      be
      securely stored and shared.
    </p>
  </div>

</section>
<section class="productive">
  <img src="../assets/images/illustration-stay-productive.png" alt="illustration">
  <div class="infos">
    <h3>Stay productive, wherever you are</h3>
    <p>Never let location be an issue when accessing your files. FileBox has you covered for all of your file storage
      needs.</p>
    <p>Securely share files and folmders with friends, family and colleagues for live collaboration. No email
      attachments required.</p>
    <a href="">See how FileBox works ></a>
  </div>
</section>
<section class="reviews">
  <div class="box">
    <img src="../assets/images/bg-quotes.png" alt="quotes" class="icon">
    <p>FileBox has improved our team productivity by an order of magnitude. Since making the switch our team has become
      a
      well-oiled collaboration machine.</p>
    <div class="end">
      <img src="../assets/images/profile-1.jpg" alt="logo">
      <div class="text">
        <span>Satish Patel</span>
        <small>Founder & CEO , Huddle</small>
      </div>
    </div>
  </div>
  <div class="box">
    <p>FileBox has improved our team productivity by an order of magnitude. Since making the switch our team has become
      a
      well-oiled collaboration machine.</p>
    <div class="end">
      <img src="../assets/images/profile-2.jpg" alt="logo">
      <div class="text">
        <span>Bruce McKenzie</span>
        <small>Founder & CEO , Huddle</small>
      </div>
    </div>
  </div>
  <div class="box">
    <p>FileBox has improved our team productivity by an order of magnitude. Since making the switch our team has become
      a
      well-oiled collaboration machine.</p>
    <div class="end">
      <img src="../assets/images/profile-3.jpg" alt="logo">
      <div class="text">
        <span>Iva Boyd</span>
        <small>Founder & CEO , Huddle</small>
      </div>
    </div>
  </div>
</section>
<section class="signup">
  <h1>Get early access today</h1>
  <p>It only takes a minute to sign up our free starter tier is extremely generous. If you have any questions, our
    support team would be happy to help you.</p>
  <div class="wrapInput">
    <input type="text">
    <button>Get Started For Free</button>
  </div>
</section>
<section class="footer">
  <div class="footerInfos">
    <img src="../assets/images/logo.png" alt="logo">
    <div class="infos">
      <p class="row">
        <img src="../assets/images/icon-location.svg" alt="location"> Brussels, Belgium
      </p>
      <p class="row">
        <img src="../assets/images/icon-phone.svg" alt="phone"> +32 487/326/555
      </p>
      <p class="row">
        <img src="../assets/images/icon-email.svg" alt="email"> yassin.assecoum@hotmail.com
      </p>
    </div>
  </div>
</section>
